<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

<listener class-name="com.Tesuto.Utlities.Listener"></listener>

</listeners>

  <test thread-count="5" name="Login">
  
    <classes>
      <class name="com.Tesuto.TestCases.LoginPageTest"/>
      
    </classes>
  </test>
 <!-- <test name="HomePageTest">
  
  <classes>
  <class name="com.Tesuto.TestCases.HomePageTest"></class>
  </classes>
  
  </test>
  
  <test name="ContactTest">
  
  <classes>
  <class name="com.Tesuto.TestCases.ContactPageTest"></class>
  </classes>
  
  </test> -->
</suite> <!-- Suite -->
